$fierce: rgb(190, 70, 70);
$dark: rgb(60, 60, 60);

.pokemon__name {
	margin: 0;
	text-transform: capitalize;
	font-size: 20px;
	color: black;
}

.pokemon__image--back {
	position: absolute;
	opacity: 0;
}

.pokemon__container {
	position: relative;
	width: 200px;
	height: 200px;
	border: 1px solid $dark;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: all ease 3s;

	&:hover {
		border: 1px solid $fierce;

		.pokemon__name {
			color: $fierce;
		}
		.pokemon__image {
			display: none;
			transition: all ease 0.5s;
		}
		.pokemon__image--back {
			position: relative;
			transition: all ease 0.5s;
			opacity: 1;
		}
	}
}

.pokemon__container::before,
.pokemon__container::after {
	width: 100%;
	height: 100%;
	z-index: 3;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	transform: scale(0);
	-webkit-transform: scale(0);
	transition: 0.5s;
}

.pokemon__container::before {
	border-bottom: 3px solid $fierce;
	border-left: 3px solid $fierce;
	transform-origin: 100% 0%;
	-webkit-transform-origin: 100% 0%;
}

.pokemon__container::after {
	border-top: 3px solid $fierce;
	border-right: 3px solid $fierce;
	transform-origin: 0% 100%;
	-webkit-transform-origin: 0% 100%;
}

.pokemon__container:hover::after,
.pokemon__container:hover::before {
	transform: scale(1);
	-webkit-transform: scale(1);
}
