@import '../../../utils/variables.scss';

.detailedPokemon__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.detailedPokemon__image {
	min-width: 33%;
}

.detailedPokemon__name {
	font-size: 2rem;
	text-transform: uppercase;
}

.detailedPokemon__card {
	width: 50%;
	display: inherit;
	flex-direction: column;
	align-items: center;
	border: 2px solid $dark;
}

.detailedPokemon__skills {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	p {
		font-weight: bold;
		margin: 10px;
		color: $fierce;
	}
}

.detailedPokemon__details {
	margin-bottom: 16px;
	font-weight: bold;
	p {
		margin: 0;
	}
}

@media screen and (max-width: 414px) {
	.detailedPokemon__card {
		width: calc(100% - 4px);
	}
}
