.detailedPokemon__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detailedPokemon__image {
  min-width: 33%;
}

.detailedPokemon__name {
  font-size: 2rem;
  text-transform: uppercase;
}

.detailedPokemon__card {
  width: 50%;
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #3c3c3c;
}

.detailedPokemon__skills {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.detailedPokemon__skills p {
  font-weight: normal;
}

@media screen and (max-width: 414px) {
  .detailedPokemon__card {
    width: calc(100% - 4px);
  }
}
